@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ---------------------------------- */
:root {
  --navbar: #185999;
  --pink: #e11761;
  --bg: #080115;
  --gray: #716d79;
}
p {
  color: var(--gray);
}
header {
  background: var(--navbar);
  padding: 1.3rem 0;
}
header nav ul li a {
  color: white !important;
  text-transform: uppercase;
  font-weight: 500;
}
header .collapse {
  width: 100%;
  margin: 0 1.2rem;
}
header nav .navbar-nav {
  display: flex;
  /* background: yellow; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
header nav .navbar-nav li img {
  width: 1.4rem;
}
/* --------------------------------------------------------------- */
.home {
  background: var(--bg);
  /* background: rgb(33, 164, 187); */
  
  padding: 2rem;
}
.home .para_first {
  color: var(--navbar);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.home h1 {
  color: white;
  font-weight: 900;
  font-size: 500%;
}
.home h1 span {
  color: #fff;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}
.home .content {
  display: flex;

  flex-direction: column;
  text-align: left !important;
  justify-content: left;
  align-items: center;
}
.home p {
  color: var(--gray);
}
.home p span {
  font-weight: 900;
}
.home .content button {
  color: white;
  border-radius: 1rem;
  background: linear-gradient(#1bc5fb, #1c6af1);
  box-shadow: #1c6af1 0px 3px 3px;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.4rem 1rem;
}
.home .chest_container {
  position: relative;
  background: transparent;
  box-shadow: none;
  transition: ease-in;
  animation-iteration-count: infinite;
  height: 100%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .chest_box {
  position: relative;
   
  background: linear-gradient(#1bc5fb, #1c6af1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* padding: 4rem 0; */
  box-shadow: #b264e6 0px 2px 1px 0px, #1c6af1 0px 2px 5px 0px;
  /* animation-name: box; */
  transition: ease-in;
  animation-iteration-count: infinite;
  height: 30rem;
  width: 30rem;

}
.home .chest_box img {
  width: 80%;
 position: absolute;
}
.home .chest_box .square {
  position: absolute;
  background: linear-gradient(#f020c3, #5d1b9b);
  border-radius: 0.3rem;
  width: 2rem;
  height: 2rem;
  top: 2rem;
  right: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .chest_box .square::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(8, 7, 8);
}

.home .chest_box .circle {
  position: absolute;
  background: linear-gradient(#f020c3, #5d1b9b);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  bottom: 2rem;

  left: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .chest_box .circle::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(8, 7, 8);
  border-radius: 2rem;
}


@keyframes box {
  from {
    top: -1rem;
  }
  to {
    top: 1rem;
  }
}

.first_loot {
  padding: 4rem 2rem;
  margin: 4rem auto;
}
h1 {
  color: var(--navbar);
  font-weight: 900;
}
.first_loot h1 {
  font-size: 4rem;
}
.first_loot .content {
  /* background: green; */
  color: var(--gray);
}
.first_loot .powerdBy {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #8891b1;
}
.first_loot .powerdBy h3 {
  font-weight: 300;
  margin-left: 1rem;
  letter-spacing: 1rem;
  font-size: 2rem;
}
.first_loot .content p {
  width: 71%;
  font-size: 1.3rem;
}
.first_loot .coin_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_loot .coin_container img {
  width: 140%;
  height: 100%;
  margin-left: -10rem;
  /* position: absolute; */
}
.progress {
  /* background: red; */
  background: none;
}

/* ----------give_away-------------------------------- */

.give_away {
  margin: 5rem auto;
}
.section3 {
  margin: 5rem auto;
}
.section3 .card {
  border: none;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.6rem;
  text-align: center;
  height: 100%;
}
.section3 .card i {
  font-size: 12rem;
  color: var(--navbar);
}
.section3 .card h3 {
  margin: 1.2rem auto;
}
.section3 button {
  background: var(--pink);
  color: white;
  font-weight: bold;
  padding: 1.2rem 3.5rem;
  /* width: 10rem; */
  font-size: 1.2rem;
}
.section3 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  
  .first_loot .coin_container img {
    margin-left: -4rem !important;
  }
}
@media (max-width: 990px) {
  .first_loot .coin_container {
    display: flex;
  }
  .first_loot .coin_container img {
    width: 100%;
    height: 100%;
    margin-left: 4rem !important;
  }
}

@media (max-width: 575px) {
  .home .content h1 {
    font-size: 2rem;
  }
  .first_loot h1 {
    font-size: 3rem;
  }
  .powerdBy h3 {
    font-size: 2rem !important;
  }
}

/* -------------------------------TIMELINE----------------------------- */
.timeline {
  margin: 10rem auto;
  position: relative;
}
.fa-ethereum {
  color: var(--pink);
}
.timeline h1 {
  margin: 4rem auto;
}
.timeline .card {
  border: none;
  background: transparent;
  z-index: 9;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.timeline .card .icon {
  background: #f6f6f6;
  font-size: 4rem;
  border-radius: 50%;
  color: var(--gray);
  width: 8rem;
  height: 8rem;
  padding: 1.5rem 1rem;
  position: relative;
}

.timeline .card .icon i {
  padding: 0;
  margin: 0;
}
.timeline .fa-rocket {
  color: var(--pink) !important;
}
.timeline .line_row {
  position: relative;
}
.timeline .line {
  position: absolute;
  width: 76%;
  height: 2px;
  background: var(--gray);
  top: 20%;
  left: 2rem;
  z-index: -9;
  /* margin: auto; */
  /* transform: translate(-50%); */
}
@media (max-width: 992px) {
  .timeline .line {
    display: none;
  }
}
.timeline .card h4 {
  font-size: 1rem;
}
/* -------------------------------------ACCORDIAN------------------ */

.questions .card {
  border-bottom: 1px solid #dddddd;
}
.questions p {
  height: 5rem;
  color: var(--gray);
  transition: 0.3s ease-in all;
  width: 100%;
  padding-left: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.questions .question_heading {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.questions .card {
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in all;
  transition-delay: .4s;

}
.questions button{
  background: none;
  font-size: 2rem;
  border: none;
}
/* ----------------------------FOOTER------------------------ */
footer {
  padding: 1rem;
}
.footer {
  width: 75%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer,
.social_links {
  display: flex;
  align-items: center;
}
footer i {
  margin: 0 0.5rem;
}
footer .social_links img {
  width: 1.4rem;
}
footer span,
footer i {
  font-size: 0.8rem;
  color: gray;
}




/* -------------------------------------MEDIA QUERIES----------------------- */
@media (max-width:520px){
  .home .chest_box{
    background: transparent;
    box-shadow: none;
  }
}
@media(max-width:470px){
  .home .chest_box{
    width: 0;
  }
  .home .chest_box img{
    width: 20rem;
  }
}




/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 985px) and (min-width: 770px) {
    .chest_box{
    
      width: 23rem !important;
      height: 23rem !important;
     
    }
    .chest_box img{
      width: 50%;
    }
    .home .content h1{
      font-size: 3.5rem !important;
    }
}

@media only screen and (max-width: 570px) and (min-width: 415px) {
  .chest_box{
 
    width: 23rem !important;
    height: 23rem !important;
   
  }
  .chest_box img{
    width: 50%;
  }
  .home .content h1{
    font-size: 3.5rem !important;
  }
  .chest_box .square , .chest_box .circle{
    display: none !important;
  }
}


@media only screen and (max-width: 415px) and (min-width: 250px) {
  .chest_box{
    
    width: 10rem !important;
    height: 10rem !important;
   margin-left: 4.5rem;
  }
  .chest_box img{
    width: 8rem;
  }
  .home .content h1{
    font-size: 2.7rem !important;
  }
  .chest_box .square , .chest_box .circle{
    display: none !important;
  }
}